@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Barlow:wght@900&family=Bowlby+One+SC&family=Kaushan+Script&family=Lato&family=Merriweather&display=swap');
body{
    box-sizing: border-box; 
    overflow:scroll;
    font-family: 'Alegreya', serif;
    font-size: larger;
}

/*navbar*/
.navbar{
    font-weight: 500;
    background: rgba(0,0,0,0.6) !important;
   /* padding: 20px 0;*/
} 
.navbar-brand{
    color: white;
    font-size:larger;
    font-family: 'Barlow', sans-serif;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
   /* padding-left: 10px;*/
} 

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}

.fa:hover {
  color: rgb(130, 129, 128);
}


#Home{
    background: url(../Images/BgImg2.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding-top: 250px;
}

#Home h1 {
   /* font-weight: 900;*/
   text-transform: uppercase;
   text-align: center;
   padding-left: 300px;
   font-size: 7em;
   font-weight: bolder;
   color: white;
   font-family: 'Barlow', sans-serif;
}

#Home p {
    /*font-size: 18px;
    max-width: 450px;*/
    font-weight: 200;
    text-align: center;
    padding-left: 350px;
    color: white;
    font-family: 'Merriweather', serif;
}


#row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
#column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

#column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #column {
    flex: 100%;
    max-width: 100%;
  }
}


section {
  padding-top: 100px;
  padding-bottom: 100px;
}

h2{
  color: rgb(106, 104, 102);
  font-weight: 900;
}

/*About*/
.paragraph{
    font-family: 'Kaushan Script', cursive;
}
.anchor:hover{
  color: rgb(130, 129, 128);;
}
.about img {
  width: 100%;
  border-radius: 100%;
}


/*Skills*/

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.holder {
  width: 100%; /* Full width */  
}
.skills {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  margin-top: 20px;
  margin-bottom: 5px;
  color: white; /* White text color */
  background-color: rgb(130, 129, 128);
}

.html {width: 80%; } 
.css {width: 70%; } 
.js {width: 30%; } 
.c {width: 75%; } 
.sql {width: 80%; }
.java {width: 60%; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Services*/
.service {
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 30px;
  display: flex;
  padding: 32px;
  font-family: 'Barlow', sans-serif;
}
.service button {
  color: white;
  background-color: rgb(130, 129, 128);
  text-align: center;
  cursor: pointer;
  width: fit-content;
  font-size: 18px;
  border: none;
}
.service a:hover {
  color: black;
}
.service button a{
  color: white;
}
.service img { 
  width: 100px;
  height: 100px;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  border-radius: 20px;
  margin-right: 16px;
  margin-top: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(130, 129, 128);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Barlow', sans-serif;  
    margin-top: 15px;
}

  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:rgb(130, 129, 128);;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card a:hover {
   color: #000;
  }
  .card p button a{
    color: white;
  }
  .stickyicon-list{
    top: 200px;   
    transform: translateY(-50%);    
  }
  .stickyicon-list a{  
    text-align: center;  
    padding: 5px;   
    transition: all 0.5s ease;   
    color: white;   
    font-size: 20px;   
}         
.stickyicon-list a:hover {   
  color: rgb(130, 129, 128);
  width:10px;   
}   
  .ig {   
    background: linear-gradient(5deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;   
    }
  .tg{
    color: white;   
    background: #41a6d4;   

  }
  .tt{
    color: white;   
    background: #000;   
  }

  
  /**Contact**/
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(130, 129, 128);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker gray color */
  input[type=submit]:hover {
    background-color: black;
  }
  
  /* Add a background color and some padding around the form */ 

  
  /*.container {
    border-radius: 5px;
    background: url(../Images/BgImg1.jpg);
    padding: 20px;
  }*/
  