@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Barlow:wght@900&family=Bowlby+One+SC&family=Kaushan+Script&family=Lato&family=Merriweather&display=swap');
body{
    box-sizing: border-box; 
    overflow:scroll;
    font-family: 'Alegreya', serif;
    font-size: larger;
    /*background-image: url(bgImg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}

/*navbar*/
.navbar{
    font-weight: 500;
    background: rgba(0,0,0,0.6) !important;
    padding: 20px 0;
} 
.navbar-brand{
    color: white;
    font-size:larger;
    font-family: 'Barlow', sans-serif;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-left: 10px;
} 

#Home{
    background: url("BgImg2.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#Home h1 {
   /* font-weight: 900;*/
   text-transform: uppercase;
   text-align: center;
   font-size: 7em;
   font-weight: bolder;
   color: white;
   font-family: 'Barlow', sans-serif;
}

#Home p {
    /*font-size: 18px;
    max-width: 450px;*/
    font-weight: 200;
    text-align: justify;
    padding-left: 410px;
    color: white;
    font-family: 'Merriweather', serif;
}

section {
  padding-top: 250px;
  padding-bottom: 200px;
}
/*.Heading
{
   position: absolute;
    top: 35%;
    width: 100%;
    max-width: 100%;
    padding-left: 100px;
    padding-top: 100PX;
    padding-bottom: 100px;
    margin: auto;
}
.Heading h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 7em;
    font-weight: bolder;
    color: white;
    font-family: 'Barlow', sans-serif;
}

.Heading h2{
    font-weight: 200;
    text-align: justify;
    padding-left: 410px;
    color: white;
    font-family: 'Merriweather', serif;
}*/

.paragraph{
    font-family: 'Kaushan Script', cursive;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.holder {
  width: 100%; /* Full width */
  
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  color: white; /* White text color */
}

.html {width: 80%; background-color: gray;} 
.css {width: 70%; background-color: gray;} 
.js {width: 30%; background-color: gray;} 
.c {width: 75%; background-color: gray;} 
.sql {width: 80%; background-color: gray;}
.java {width: 60%; background-color: gray;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Services*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card a:hover {
    opacity: 0.7;
  }
  .card p button a{
    color: white;
  }
  
  /**Contact**/
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #5c5c5c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker gray color */
  input[type=submit]:hover {
    background-color: darkgray;
  }
  
  /* Add a background color and some padding around the form */ 

  
  /*.container {
    border-radius: 5px;
    background-image: url(bgImg1.jpg);
    padding: 20px;
  }*/
  